body {
  margin: 0;
  font-family: 'Cardo', serif;
}

a.button {
  padding: 5px;
  font-size: .7em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
}

a.button:hover {
  color: #ff6f62;
  border-color: #ff6f62;
}

a.icon {
  display: inline-table;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  text-align: center;
  border: 1px solid #fff;
}

#facebook.icon:hover {
  border-color: #4460a0;
}

#instagram.icon:hover {
  border-color: #feb0e0;
}

#linkedin.icon:hover {
  border-color: #007ebb;
}

#github.icon:hover {
  border-color: #8fd871;
}

a.icon div {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

a.icon div object {
  pointer-events: none;
}

.content {
  width: 100%;
}

#cover {
  height: 100vh;
  background-image: url(me.jpg);
  background-size: cover;
  background-position: center;
}

.content .container {
  display: table;
  box-sizing: border-box;
  width: 50%;
  height: 100vh;
  text-align: center;
}

#cover #left.container {
  float: left;
  background-color: rgba(255,255,255,.8);
}

#cover #right.container {
  float: right;
  background-color: rgba(0,0,0,.7);
  font-size: 0;
}

#about-me {
  display: table-cell;
  vertical-align: middle;
  padding: 15%;
}

#about-me .greeting {
  margin: 0;
  text-align: left;
  font-family: 'Source Code Pro', monospace;
}

#about-me .name {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #ff4c3b;
}

#about-me .blurb {
  margin: 0;
  text-align: left;
  font-weight: 400;
}

#about-me .button {
  display: inline-block;
  margin-top: 30px;
}

#right.container .navigation {
  display: table-cell;
  vertical-align: middle;
}

#right.container .navigation .icon {
  margin: 20px;
}
