body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a.button {
  padding: 7px;
  padding-top: 9px;
  font-size: .7em;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

a.button:hover {
  color: #ff6f62;
  border-color: #ff6f62;
}

a.icon {
  display: inline-table;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  text-align: center;
  border: 1px solid #fff;
}

#facebook.icon:hover { border-color: #4460a0; }

#instagram.icon:hover { border-color: #feb0e0; }

#linkedin.icon:hover { border-color: #007ebb; }

#github.icon:hover { border-color: #8fd871; }

a.icon div {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

a.icon div object { pointer-events: none; }

.content { width: 100%; }

#cover {
  height: 100vh;
  background-image: url(me.jpg);
  background-size: cover;
  background-position: center;
}

.content .container {
  display: table;
  box-sizing: border-box;
  width: 50%;
  height: 100vh;
  text-align: center;
}

#cover #left.container {
  float: left;
  background-color: rgba(255,255,255,.9);
}

#cover #right.container {
  float: right;
  background-color: rgba(0,0,0,.8);
  font-size: 0;
}

#about-me {
  display: table-cell;
  vertical-align: middle;
  padding: 15%;
}

#about-me .name {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Lobster', cursive;
  font-size: 4em;
  /* color: #ff4c3b; */
}

#about-me .blurb {
  margin: 0;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

#about-me .button {
  display: inline-block;
  margin-top: 30px;
}

#right.container .navigation {
  display: table-cell;
  vertical-align: middle;
}

#right.container .navigation .icon { margin: 20px; }
